.movieitem {
  cursor: pointer;
  width: 300px;
  max-height: 150px;
  object-fit: contain;
  margin: 5px;
  transition: 350ms;
}

.movieitem:hover {
  transform: scale(1.04);
}

.movieitem--large {
  width: 500px;
  max-height: 300px;
}
